<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title></title>
</head>

<body>
  <video controls src="/Users/Jeon/content/kucis_test/cssProject/files/test.mp4"> Your user agent does not support the HTML5 Video element.
  </video>
  <p>안녕하세요</p>
  <p>안녕하세요</p>
  <p>안녕하세요</p>
  <p>안녕하세요</p>
  <p>안녕하세요</p>

</body>

</html>
